@import "~bootstrap/dist/css/bootstrap.min.css";

#cardWidth {
  width: 500px;
}

#figuraSup {
  padding: 5px;
  height: 70px;
  font-size: 70px;
}

#figuraUpDown {
  padding: 5px;
  height: 70px;
  font-size: 70px;
  transform: rotate(180deg);
}

#unidades {
  height: 200px;
  font-size: 120px;
}

.figura {
  color: black;
}

.figura.rojo {
  color: red;
}

button {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
